@charset "UTF-8";

body{

}

.hero{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: 160%;
  background-color: #000000;
}

.hero-image-01{
  background-image: url(../image/archi2.jpg);
<<<<<<< HEAD
}

.hero-image-01:hover{
=======
  -webkit-transition: all 300ms 0s ease;
}

.hero-image-01:hover{
  background-size: 180%;
  -webkit-transition: all 300ms 0s ease;
>>>>>>> 13d92ed191c90c1f363f4d3245f733d537309fd4
}

.hero-image-02{
  background-image: url(../image/light.jpg);
}

.hero-image-03{
  background-image: url(../image/mountain.jpg);
}

.hero-image-04{
  background-image: url(../image/archi1.jpg);
}

.hero-image-05{
  background-image: url(../image/red.jpg);
}

.text1{
  position: relative;
  font-family: "Arial";
  font-weight: bold;
  font-size: 10vw;
  color: white;
  text-align: center;
  top: 44vh;
}

.text2{
  position: relative;
  font-family: "Arial";
  font-weight: bold;
  font-size: 10vw;
  color: white;
  text-align: center;
  top: 44vh;
}

.btn{
  width: 50vw;
  height: 44px;
  margin: (0 auto);
  top: 68vh;
  background-color: white;
}

.btn:hover{
  width: 50vw;
  height: 44px;
  margin: (0 auto);
  top: 68vh;
  background-color: #ffcc00;
  transition: all 80ms 80ms ease;
}
